body{
    background-color: #313b47;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.heading{
    text-align: center;
    margin: 50px;
}

.parent{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 1.5rem;
    right:1.5rem;
}

.chatBox{
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    height:300px;
    width:400px;
    overflow-y: scroll;
}

.chatButton{
    font-weight: 700;
    font-size: 1.25rem;
    background-color: #1dbfaf;
    color: white;
    align-self: flex-end;
    height:80px;
    width:80px;
    border-radius: 50%;
    border: none;
}

.sendButton{
    background-color: #1dbfaf;
    color: white;
    border: none;
    border-radius: 0 0.25rem 0.25rem 0;
}

input:focus,
.chatButton:focus{
    outline: none;
}

.hide{
    display: none;
}
.messageBox{
    display       : flex;
    flex-grow     : 1;
    width         : 99%;
    align-self    : center;
    border        : none;
    flex-direction: column;
}

.message{
    background-color: #1dbfaf;
    color           : white;
    border-radius   : 0 8px 16px 0;
    padding         : 0.5rem;
    font-size       : 1.1rem;
    width: fit-content;
    max-width: 60%;
    min-width: 10% !important;
    margin   : 0.5rem 0;
}

#inputMessage{
    flex-grow: 1;
    height: 1.5rem;
    border: none;
    border-radius: 0.25rem 0 0 0.25rem;
}

.rightMessage{
    align-self: flex-end;
}

.messageBoxFooter{
    display: flex;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #1dbfaf; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background:  #1dbfaf; 
    border-radius: 10px;
}
